* {
  box-sizing: border-box;
}

:root {
  font-family: "Avenir LT", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

.body-light {
  background-color: white;
  color: black;
}

.body-dark {
  background-color: black;
  color: white;
}

p {
  padding: none;
  margin: 0;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-light {
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
}

.nav-dark {
  border-bottom-style: solid;
  border-color: white;
  border-width: 1px;
}

.button-list {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.nav-button-light {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  text-wrap: nowrap;
  color: black;

  border-right-style: solid;
  border-color: black;
  border-width: 1px;
}

.nav-button-dark {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  text-wrap: nowrap;
  color: white;

  border-right-style: solid;
  border-color: white;
  border-width: 1px;
}

button {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  text-wrap: nowrap;

  font-family: "Avenir LT", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  border: none;
}

.toggle-button-light {
  background-color: white;
  color: black;
  border-left-style: solid;
  border-color: black;
  border-width: 1px;
}

.toggle-button-dark {
  background-color: black;
  color: white;
  border-left-style: solid;
  border-color: white;
  border-width: 1px;
}

.nav-button-light:hover,
.toggle-button-light:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}

.nav-button-dark:hover,
.toggle-button-dark:hover {
  background-color: white;
  color: black;
  transition: 0.2s;
}

.page-title {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
  text-wrap: nowrap;
  color: white;

  border-right-style: solid;
  border-color: white;
  border-width: 1px;
}

main {
  height: calc(100vh - 73px);
  min-height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lamp-wrapper {
  width: 400px;
  height: 400px;
  position: relative;
}

.lamp-shade-light {
  position: absolute;
  left: 50px;
  stroke: black;
  stroke-width: 1px;
}

.lamp-shade-dark {
  position: absolute;
  left: 50px;
  stroke: white;
  stroke-width: 1px;
}

.lamp-neck-light {
  position: absolute;
  left: 160px;
  bottom: 0;
  width: 80px;
  height: 137px;
  background: black;
}

.lamp-neck-dark {
  position: absolute;
  left: 160px;
  bottom: 0;
  width: 80px;
  height: 137px;
  background: white;
}

.lamp-base-dark {
  position: absolute;
  left: 160px;
  bottom: 0;
  width: 80px;
  height: 137px;
  background: white;
}

.lamp-base-light {
  position: absolute;
  left: 92px;
  bottom: 8px;
  width: 216px;
  height: 120px;
  background: black;
  border-radius: 50%;
}

.lamp-base-dark {
  position: absolute;
  left: 92px;
  bottom: 8px;
  width: 216px;
  height: 120px;
  background: white;
  border-radius: 50%;
}

/* .lamp-string {
  position: absolute;
  left: 80px;
  top: 120px;
  height: 80px;
  width: 2px;
  background: white;
} */

/* .lamp-glow,
.lamp-glow-astig {
  position: absolute;
  left: 50px;
  top: 0;
  width: 300px;
  height: 300px;
  background: radial-gradient(
    circle,
    rgba(255, 195, 90, 1) 0%,
    rgba(255, 195, 90, 0.8) 20%,
    rgba(255, 195, 90, 0.4) 40%,
    rgba(255, 195, 90, 0) 70%,
    transparent 100%
  );
  border-radius: 50%;
  z-index: 10;
} */

.lamp-glow,
.lamp-glow-astig {
  position: absolute;
  left: -50px;
  top: -100px;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(255, 195, 90, 1) 0%,
    rgba(255, 195, 90, 0.6) 20%,
    rgba(255, 195, 90, 0.2) 40%,
    rgba(255, 195, 90, 0) 60%,
    transparent 100%
  );
  border-radius: 50%;
  z-index: 10;
}

.lamp-glow-astig::before {
  content: "";
  inset: -5000vh;
  position: fixed;
  backdrop-filter: blur(12px);
  scale: 20 0.4;
  rotate: 43deg;
  z-index: 99999;
  opacity: 0.8;
  pointer-events: none;
  mix-blend-mode: screen;
}

.lamp-glow-astig::after {
  content: "";
  inset: -5000vh;
  position: fixed;
  backdrop-filter: blur(10px) contrast(1.2);
  scale: 12 0.2;
  rotate: 43deg;
  z-index: 99999;
  opacity: 1;
  pointer-events: none;
  mix-blend-mode: screen;
}
