main {
  display: flex;
  flex-flow: row nowrap;
}

main a {
  text-decoration: none;
  color: blue;
}

main a:hover {
  font-style: italic;
  text-decoration: underline;
}

.head-section,
.def-section {
  flex: 0 0 50%;
}

.head-section {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 24px 64px;
}

h1 {
  /* width: 50%; */
  font-size: 18vw;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: none;
  /* position: fixed;
  top: 97px;
  left: 64px; */
}

.def-section {
  padding: 40px 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 12px;

  border-left-style: solid;
  border-color: black;
  border-width: 1px;
}

footer {
  border-top-style: solid;
  border-color: black;
  border-width: 1px;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-flow: column nowrap;
  }

  .def-section {
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
  }

  .index-button {
    flex: 1;
    justify-content: start;
    border-right-style: none;
  }
}
