@font-face {
  font-family: "Proto Mono";
  src: url("../public/fonts/proto-mono-light.woff2") format("woff2"),
    url("../public/fonts/proto-mono-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proto Mono";
  src: url("../public/fonts/proto-mono-regular.woff2") format("woff2"),
    url("../public/fonts/proto-mono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proto Mono";
  src: url("../public/fonts/proto-mono-medium.woff2") format("woff2"),
    url("../public/fonts/proto-mono-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proto Mono";
  src: url("../public/fonts/proto-mono-semi-bold.woff2") format("woff2"),
    url("../public/fonts/proto-mono-semi-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
