.grid-container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

img {
  cursor: pointer;
  position: absolute;
  mix-blend-mode: multiply;
  transition: all 0.3s ease;
  transform: translate(var(--x-position), var(--y-position))
    rotate(var(--rotation, 0deg)) scale(0.75);
  transform-origin: 50% 50%;
  will-change: transform;
}

img:hover {
  filter: brightness(0.8);
  transform: translate(var(--x-position), var(--y-position))
    rotate(var(--rotation, 0deg)) scale(1.25);
  z-index: 999 !important;
}
