* {
  box-sizing: border-box;
}

:root {
  font-family: "Basis Grotesque Arabic Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  --grey-20: #cccccc;
  --grey-40: #999999;
  --grey-60: #666666;
  --grey-80: #333333;

  --green-20: #f6faf3;
  --green-40: #ecf5e7;
  --green-60: #e3f0db;
  --green-80: #d9ebcf;
  --green-100: #d0e6c3;

  --white-20: #fffdfa;
  --white-40: #fffcf4;
  --white-60: #fffaef;
  --white-80: #fff9e9;
  --white-100: #fff7e4;

  --yellow-20: #fffcf5;
  --yellow-40: #fff9ec;
  --yellow-60: #fff5e2;
  --yellow-80: #fff2d9;
  --yellow-100: #ffefcf;

  --oolong-20: #fffaf6;
  --oolong-40: #fff5ed;
  --oolong-60: #fff1e3;
  --oolong-80: #ffecda;
  --oolong-100: #ffe7d1;

  --black-20: #fdf6f3;
  --black-40: #faede7;
  --black-60: #faede7;
  --black-80: #f5dad0;
  --black-100: #f3d1c4;

  --puer-20: #f9f6f3;
  --puer-40: #f2ece7;
  --puer-60: #ece3dc;
  --puer-80: #e5d9d0;
  --puer-100: #dfd0c4;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: black;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.25;
}

h1 {
  font-family: "PP Eiko", serif;
  font-weight: 300;
  font-size: 96px;
  padding: none;
  margin: 0;
}

h2 {
  font-family: "PP Eiko", serif;
  font-weight: 400;
  font-size: 32px;
  padding: none;
  margin: 0;
}

.paper-texture {
  background-image: url(../public/images/paper_texture.png);
  background-size: cover;
  height: 100%;
  mix-blend-mode: plus-darker;
  opacity: 0.6;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 40px 56px;

  z-index: 200;
}

.nav-right {
  display: flex;
  flex-flow: row nowrap;
  gap: 48px;
}
