@font-face {
  font-family: "PP Eiko";
  src: url("../public/fonts/ppeiko-light-webfont.woff2") format("woff2"),
    url("../public/fonts/ppeiko-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../public/fonts/ppeiko-lightitalic-webfont.woff2") format("woff2"),
    url("../public/fonts/ppeiko-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../public/fonts/ppeiko-regular-webfont.woff2") format("woff2"),
    url("../public/fonts/ppeiko-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../public/fonts/ppeiko-regularitalic-webfont.woff2") format("woff2"),
    url("../public/fonts/ppeiko-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../public/fonts/ppeiko-medium-webfont.woff2") format("woff2"),
    url("../public/fonts/ppeiko-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../public/fonts/ppeiko-regularitalic-webfont.woff2") format("woff2"),
    url("../public/fonts/ppeiko-regularitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../public/fonts/ppeiko-bold-webfont.woff2") format("woff2"),
    url("../public/fonts/ppeiko-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../public/fonts/ppeiko-bolditalic-webfont.woff2") format("woff2"),
    url("../public/fonts/ppeiko-bolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Arabic Pro";
  src: url("../public/fonts/BasisGrotesqueArabicPro-Light.woff2")
      format("woff2"),
    url("../public/fonts/BasisGrotesqueArabicPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../public/fonts/BasisGrotesquePro-LightItalic.woff2")
      format("woff2"),
    url("../public/fonts/BasisGrotesquePro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Arabic Pro";
  src: url("../public/fonts/BasisGrotesqueArabicPro-Regular.woff2")
      format("woff2"),
    url("../public/fonts/BasisGrotesqueArabicPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../public/fonts/BasisGrotesquePro-Italic.woff2") format("woff2"),
    url("../public/fonts/BasisGrotesquePro-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Arabic Pro";
  src: url("../public/fonts/BasisGrotesqueArabicPro-Medium.woff2")
      format("woff2"),
    url("../public/fonts/BasisGrotesqueArabicPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../public/fonts/BasisGrotesquePro-MediumItalic.woff2")
      format("woff2"),
    url("../public/fonts/BasisGrotesquePro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Arabic Pro";
  src: url("../public/fonts/BasisGrotesqueArabicPro-Bold.woff2") format("woff2"),
    url("../public/fonts/BasisGrotesqueArabicPro-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("../public/fonts/BasisGrotesquePro-BoldItalic.woff2") format("woff2"),
    url("../public/fonts/BasisGrotesquePro-BoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
