main.pattern1 {
  width: 100%;
  height: calc(100% - 73px);
  position: relative;
}

#center-text {
  position: absolute;
  width: 480px;
  left: 50%;
  top: calc(50% - 16px);
  transform: translate(-50%, -50%);
  text-align: center;
}

main.pattern1 img {
  position: absolute;
  width: 72px;
  pointer-events: none;
}
