main {
  height: calc(100vh - 73px);
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.variation2 {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 372px;
  height: 400px;
}

.variation2:hover {
  filter: invert(1);
  transition: 1s;
}

.rect1 {
  position: absolute;
  width: 80px;
  height: 400px;
  background: cyan;
  transform: skewX(-16deg);
  transform-origin: bottom left;
  z-index: 10;
  animation: rect1-transition 1s ease-in 1;
}

@keyframes rect1-transition {
  0% {
    left: 50vw;
    top: -100vh;
  }

  70% {
    left: 0;
    top: 0;
  }

  80% {
    left: 4px;
    top: 12px;
  }

  90% {
    left: -2px;
    top: -4px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.rect2 {
  position: absolute;
  left: 50vw;
  top: -100vh;
  width: 80px;
  height: 400px;
  background: magenta;
  transform: skewX(-20deg);
  transform-origin: bottom left;
  mix-blend-mode: multiply;
  z-index: 10;
  animation: rect2-transition 1s ease-in 1 forwards;
  animation-delay: 1s;
}

@keyframes rect2-transition {
  0% {
    left: 50vw;
    top: -100vh;
  }

  70% {
    left: 0;
    top: 0;
  }

  80% {
    left: 4px;
    top: 12px;
  }

  90% {
    left: -2px;
    top: -4px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.rect3 {
  position: absolute;
  right: 50vw;
  top: -100vh;
  width: 80px;
  height: 400px;
  background: yellow;
  transform: skewX(16deg);
  transform-origin: bottom right;
  mix-blend-mode: multiply;
  z-index: 5;
  animation: rect3-transition 1s ease-in 1 forwards;
  animation-delay: 2s;
}

@keyframes rect3-transition {
  0% {
    right: 50vw;
    top: -100vh;
  }

  70% {
    right: 0;
    top: 0;
  }

  80% {
    right: 4px;
    top: 12px;
  }

  90% {
    right: -2px;
    top: -4px;
  }

  100% {
    right: 0;
    top: 0;
  }
}

.rect4 {
  position: absolute;
  right: 50vw;
  top: -100vh;
  width: 80px;
  height: 400px;
  background: red;
  transform: skewX(20deg);
  transform-origin: bottom right;
  animation: rect4-transition 1s ease-in 1 forwards;
  animation-delay: 3s;
}

@keyframes rect4-transition {
  0% {
    right: 50vw;
    top: -100vh;
  }

  70% {
    right: 0;
    top: 0;
  }

  80% {
    right: 4px;
    top: 12px;
  }

  90% {
    right: -2px;
    top: -4px;
  }

  100% {
    right: 0;
    top: 0;
  }
}

.rect5 {
  position: absolute;
  right: 50vw;
  bottom: 100vh;
  width: 80px;
  height: 160px;
  background: cyan;
  transform: skewX(20deg);
  transform-origin: bottom right;
  animation: rect5-transition 1s ease-in 1 forwards;
  animation-delay: 5s;
}

@keyframes rect5-transition {
  0% {
    right: 50vw;
    bottom: 100vh;
  }

  70% {
    right: 80px;
    bottom: 0;
  }

  80% {
    right: 76px;
    bottom: 12px;
  }

  90% {
    right: 82px;
    bottom: 4px;
  }

  100% {
    right: 80px;
    bottom: 0;
  }
}

.rect6 {
  position: absolute;
  right: 50vw;
  bottom: 100vh;
  width: 80px;
  height: 160px;
  background: yellow;
  transform: skewX(24deg);
  transform-origin: bottom right;
  mix-blend-mode: multiply;
  animation: rect6-transition 1s ease-in 1 forwards;
  animation-delay: 4s;
}

@keyframes rect6-transition {
  0% {
    right: 50vw;
    bottom: 100vh;
  }

  70% {
    right: 80px;
    bottom: 0;
  }

  80% {
    right: 76px;
    bottom: 12px;
  }

  90% {
    right: 82px;
    bottom: 4px;
  }

  100% {
    right: 80px;
    bottom: 0;
  }
}
