* {
  box-sizing: border-box;
}

:root {
  font-family: "Avenir LT", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
}

.nav-button {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;

  border-right-style: solid;
  border-color: black;
  border-width: 1px;
}

a.work-index {
  padding-right: 32px;
}

a.work-index:hover {
  color: blue;
  text-decoration: underline;
  font-style: italic;
}

.nav-list {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

[class^="animation-button"] {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0px 32px;
  gap: 8px;

  border-left-style: solid;
  border-color: black;
  border-width: 1px;
}

.animation-button-left {
  padding-left: 24px;
  padding-right: 32px;
}

.animation-button-right {
  padding-left: 32px;
  padding-right: 24px;
}

.nav-button:hover,
[class^="animation-button"]:hover {
  background-color: black;
  color: white;
  font-style: italic;
}

svg {
  width: 32px;
  height: auto;
}

[class^="animation-button"]:hover > svg {
  transform: skewX(-12deg);
}

main {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  height: 496px;
  min-width: 448px;
  background-color: white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 1345px) {
  .grid-item {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  main > :nth-child(3n) {
    border-right: 0;
  }

  main > :nth-last-child(-n + 3) {
    border-bottom: 0;
  }
}

@media screen and (max-width: 1344px) {
  .grid-item {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  main > :nth-child(2n) {
    border-right: 0;
  }

  main > :nth-last-child(-n + 2) {
    border-bottom: 0;
  }
}

@media screen and (max-width: 896px) {
  .grid-item {
    border-right: 0;
    border-bottom: 1px solid black;
  }

  main {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  main > :nth-last-child(-n + 2) {
    border-bottom: 1px solid black;
  }

  main > :last-child {
    border-bottom: 0;
  }
}

.grid-item:hover {
  filter: brightness(75%);
}

.variation1 {
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}

.mini-tri {
  height: 48px;
  width: 48px;
  background-color: magenta;
  mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
}

div[class^="layer"] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.layer1 {
  width: 48px;
}

.layer2 {
  width: 96px;
}

.layer3 {
  width: 144px;
}

.layer4 {
  width: 192px;
}

.layer5 {
  width: 240px;
}

.layer6 {
  width: 288px;
}

.layer7 {
  width: 336px;
}

.grid-item:nth-child(3):hover .mini-tri {
  transform: rotate(45deg);
  transition: 0.3s;
}

.variation2 {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 372px;
  height: 400px;
}

.rect1 {
  position: absolute;
  left: 0;
  width: 80px;
  height: 400px;
  background: cyan;
  transform: skewX(-16deg);
  transform-origin: bottom left;
  z-index: 10;
}

.rect2 {
  position: absolute;
  left: 0;
  width: 80px;
  height: 400px;
  background: magenta;
  transform: skewX(-20deg);
  transform-origin: bottom left;
  mix-blend-mode: multiply;
  z-index: 10;
}

.rect3 {
  position: absolute;
  right: 0;
  width: 80px;
  height: 400px;
  background: yellow;
  transform: skewX(16deg);
  transform-origin: bottom right;
  mix-blend-mode: multiply;
  z-index: 5;
}

.rect4 {
  position: absolute;
  right: 0;
  width: 80px;
  height: 400px;
  background: red;
  transform: skewX(20deg);
  transform-origin: bottom right;
}

.rect5 {
  position: absolute;
  bottom: 0;
  right: 80px;
  width: 80px;
  height: 160px;
  background: cyan;
  transform: skewX(20deg);
  transform-origin: bottom right;
}

.rect6 {
  position: absolute;
  bottom: 0;
  right: 80px;
  width: 80px;
  height: 160px;
  background: yellow;
  transform: skewX(24deg);
  transform-origin: bottom right;
  mix-blend-mode: multiply;
}

.grid-item:nth-child(5):hover > .variation2 {
  filter: invert(1);
  transition: 0.5s;
}

.variation3 {
  position: relative;
  width: 256px;
  height: 300px;
}

.stroke1 {
  position: absolute;
  left: 40px;
  width: 75px;
  height: 45px;
  transform: rotate(0deg) skew(-60deg);
  background: linear-gradient(
    180deg,
    rgba(213, 189, 255, 1) 0%,
    rgba(207, 255, 201, 1) 100%
  );
}

.stroke2 {
  position: absolute;
  left: 155.5px;
  top: 0;
  width: 60px;
  height: 90px;
  transform: rotate(0deg) skew(40deg);
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgba(207, 255, 201, 1) 0%,
    rgba(213, 189, 255, 1) 100%
  );
}

.stroke3 {
  position: absolute;
  left: 55px;
  top: 90px;
  width: 60px;
  height: 75px;
  transform: rotate(120deg) skew(50deg);
  background: linear-gradient(
    120deg,
    rgba(207, 255, 201, 1) 0%,
    rgba(213, 189, 255, 1) 100%
  );
  z-index: 30;
}

.stroke4 {
  position: absolute;
  left: 5.5px;
  top: 165px;
  width: 60px;
  height: 60px;
  transform: rotate(125deg) skew(-50deg);
  background: linear-gradient(
    120deg,
    rgba(207, 255, 201, 1) 0%,
    rgba(213, 189, 255, 1) 100%
  );
}

.stroke5 {
  position: absolute;
  left: 55px;
  top: 207px;
  width: 60px;
  height: 90px;
  transform: rotate(125deg) skew(20deg);
  background: linear-gradient(
    120deg,
    rgba(207, 255, 201, 1) 0%,
    rgba(213, 189, 255, 1) 100%
  );
  z-index: 10;
}

.stroke6 {
  position: absolute;
  left: 178px;
  top: 93px;
  width: 91.5px;
  height: 138px;
  transform: rotate(50deg) skew(50deg);
  background: linear-gradient(
    20deg,
    rgba(213, 189, 255, 1) 0%,
    rgba(207, 255, 201, 1) 100%
  );
  z-index: 20;
}

.stroke7 {
  position: absolute;
  left: 134.5px;
  top: 193.5px;
  width: 57px;
  height: 76.5px;
  transform: rotate(100deg) skew(44deg);
  background: linear-gradient(
    30deg,
    rgba(207, 255, 201, 1) 0%,
    rgba(213, 189, 255, 1) 100%
  );
  z-index: 10;
}

/* .variation3:hover {
  transform: scale(1.5);
  transition: 0.3s;
} */

.variation4 {
  position: relative;
  height: 320px;
  width: 400px;
}

.rect {
  height: 100%;
  width: 100%;
  background: blue;
}

.cutout1 {
  position: absolute;
  left: 120px;
  bottom: 72px;
  border-top: 40px solid transparent;
  border-right: 112px solid white;
  height: 136px;
  width: 0;
}

.cutout2 {
  position: absolute;
  top: 0;
  border-bottom: 112px solid transparent;
  border-left: 300px solid white;
  height: 144px;
  width: 0;
}

.cutout3 {
  position: absolute;
  top: 0;
  right: 88px;
  border-bottom: 24px solid transparent;
  border-right: 16px solid white;
  height: 180px;
  width: 0;
}

.cutout4 {
  position: absolute;
  bottom: 0;
  right: 88px;
  border-top: 24px solid transparent;
  border-left: 16px solid white;
  height: 80px;
  width: 0;
}

.grid-item:nth-child(2):hover > .variation4 > .cutout1 {
  left: 96px;
  bottom: 16px;
  border-top: 60px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 168px solid white;
  height: 216px;
  width: 0;
  transition: 0.3s;
}

.grid-item:nth-child(2):hover > .variation4 > .cutout2 {
  top: 0;
  border-bottom: 112px solid transparent;
  border-top: 0px solid transparent;
  border-left: 290px solid white;
  border-right: 0px solid transparent;
  height: 168px;
  width: 0;
  transition: 0.3s;
}

.grid-item:nth-child(2):hover > .variation4 > .cutout3 {
  top: 0;
  right: 104px;
  border-bottom: 24px solid transparent;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 12px solid white;
  height: 216px;
  width: 0;
  transition: 0.3s;
}

.grid-item:nth-child(2):hover > .variation4 > .cutout4 {
  bottom: 0;
  right: 104px;
  border-top: 24px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 12px solid white;
  height: 88px;
  width: 0;
  transition: 0.3s;
}

.variation5 {
  position: relative;
  width: 290px;
  height: 250px;
}

.part1 {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 200px solid rgb(236, 92, 42);
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  height: 0;
  width: 240px;
}

.part2 {
  position: absolute;
  top: 96px;
  left: 96px;
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 104px solid white;
}

.part3 {
  position: absolute;
  top: 136px;
  left: 40px;
  width: 160px;
  height: 48px;
  background-color: rgb(236, 92, 42);
}

.part4 {
  position: absolute;
  top: 12px;
  left: 12px;
  border-bottom: 200px solid rgb(64, 118, 218);
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  height: 0;
  width: 240px;
}

.part5 {
  position: absolute;
  top: 108px;
  left: 108px;
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 104px solid white;
}

.part6 {
  position: absolute;
  top: 148px;
  left: 52px;
  width: 160px;
  height: 48px;
  background-color: rgb(64, 118, 218);
}

.part7 {
  position: absolute;
  top: 24px;
  left: 24px;
  border-bottom: 200px solid rgb(91, 178, 144);
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  height: 0;
  width: 240px;
}

.part8 {
  position: absolute;
  top: 120px;
  left: 120px;
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 104px solid white;
}

.part9 {
  position: absolute;
  top: 160px;
  left: 64px;
  width: 160px;
  height: 48px;
  background-color: rgb(91, 178, 144);
}

.part10 {
  position: absolute;
  top: 36px;
  left: 36px;
  border-bottom: 200px solid rgb(255, 160, 203);
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  height: 0;
  width: 240px;
}

.part11 {
  position: absolute;
  top: 132px;
  left: 132px;
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 104px solid white;
}

.part12 {
  position: absolute;
  top: 172px;
  left: 76px;
  width: 160px;
  height: 48px;
  background-color: rgb(255, 160, 203);
}

.part13 {
  position: absolute;
  top: 48px;
  left: 48px;
  border-bottom: 200px solid black;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  height: 0;
  width: 240px;
}

.part14 {
  position: absolute;
  top: 144px;
  left: 144px;
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 104px solid white;
}

.part15 {
  position: absolute;
  top: 184px;
  left: 88px;
  width: 160px;
  height: 48px;
  background-color: black;
}

.grid-item:first-child:hover > .variation5 > [class^="part"]:nth-child(3n + 1) {
  top: 0;
  left: 0;
  transition: 0.5s;
}

.grid-item:first-child:hover > .variation5 > [class^="part"]:nth-child(3n + 2) {
  top: 96px;
  left: 96px;
  transition: 0.5s;
}

.grid-item:first-child:hover > .variation5 > [class^="part"]:nth-child(3n) {
  top: 136px;
  left: 40px;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .def-link {
    flex-flow: column nowrap;
    align-items: start;
    gap: 8px;
  }

  .def-link p {
    padding-bottom: 12px;
  }

  h1,
  .def-link h2 {
    font-size: 4em;
  }

  .intro {
    gap: 16px;
  }

  .intro p {
    text-align: left;
  }
}
